/* Loading Container */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
}

/* Product Gallery Container */
.product-gallery {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .product-gallery {
        width: 70%;
    }
}

/* Product List Styles */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 900px;
}

/* Responsive Styling for Larger Screens */
@media screen and (min-width: 992px) {
    .product-list {
        gap: 20px;
    }
}

/* Product Item Styles */
.product-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 60%;
    max-width: 150px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    width: 100%;
    height: auto;
}

.product-item-details {
    padding: 10px;
    text-align: center;
}

.product-item-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.product-item-price {
    font-size: 14px;
    color: #888;
}

/* Responsive Item Adjustments */
@media screen and (min-width: 768px) {
    .product-item {
        max-width: 220px;
    }
}

@media screen and (min-width: 992px) {
    .product-item {
        max-width: 250px;
    }
}

/* Adjust Product Item Styles for Small Screens */
@media screen and (max-width: 767px) {
    .product-list {
        justify-content: space-between; /* Ensure items are centered */
    }

    .product-item {
        flex-basis: 45%; /* Each item takes about half the width */
        max-width: 45%; /* Same as flex-basis for consistency */
        margin: 10px; /* Add consistent spacing around items */
    }
}

/* Keyframe Animation */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-50px) scale(0.8);
    }
    50% {
        opacity: 1;
        transform: translateX(10px);
    }
    100% {
        transform: scale(1);
    }
}


